*{
    margin:0px;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --template_bg_color:  #0000CD;
    --template_color: white;

}

html{
    font-size: 15px;
}

body{
    background-color:var(--template_bg_color);
    color: var(--template_color);
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

h1{
    text-align: center;
    margin: 1rem auto;
    font-weight: bold;
    color: black;
}

p{
    text-align: center;
    color: black;
}

.container_data{
    width: 90%;
    position: relative;
    margin-left: 5%;
    margin-top: 10%;
    border: 1px solid black;
    border-radius: 2%;
    padding: 1rem;
    background-color: white;
}

.form_data{
    position: relative;
    margin-right: 10px;

}
.icon_data{
    position: absolute;
    color: #3e3e3e;
    margin-left: .8rem;
    margin-top: .7rem;
    font-size: 1.3rem;
}

.input_data{
    width: 100%;
    font-size: 1rem;
    text-align: center;
    background-color: lightgray;
}

.name_data{
    position: relative;
    margin-right: 10px;
    width: 100%;
}

.name_group{
    display:flex;
}

/* INPUT */
input[type="text"],
input[type="email"],
input[type="password"]{
    padding: .4rem;
    margin-bottom: 0.6rem;
    cursor: text;
}

#button_group{
    margin-left: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button[type="submit"]{
    background:#8c97d8 ;
    color: white;
    padding: .5rem 1rem .4rem 1rem;
    border-radius: 3%;
    margin: rem .1rem 1rem 4rem;
    margin-right: 1rem;
    width: 80%;
}

button[type="submit"]:hover{
    box-shadow: 1px 1px 4px .5px rgba(255, 255, 255, 0.8);
    transition: 1s all;
}